Checks: '-*,modernize-*,readability-*,cppcoreguidelines-*,-cppcoreguidelines-pro-bounds-array-to-pointer-decay'
CheckOptions:
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'
  - key: modernize-use-auto.MinTypeNameLength
    value: '5'
  - key: LanguageVersion
    value: c++23
WarningsAsErrors: '*'
HeaderFilterRegex: '.*' # Appliquer clang-tidy uniquement aux fichiers pertinents (peut être ajusté)
